@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

// Header
.ApiMainHeader {
  background-color: white;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.side {
  margin-left: 15px;
  width: 4%;
}
.barsIcon {
  width: 27px;
  height: 27px;
}

.logoImg {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.userImg {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.search {
  width: 78%;
  display: flex;
  justify-content: center;
}
.search > button {
  width: 30px;
  height: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f4f4f4;
  cursor: pointer;
  border: none;
}
.searchbar:focus {
  outline: none;
}
.searchbar::placeholder {
  font-size: 15px;
}
.searchbar {
  height: 35px;
  width: 70%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f4f4f4;
  border: none;
  padding: 3px;
}
.user {
  width: 10%;
  display: flex;
  justify-content: center;
}
.userIcon {
  margin-top: 2px;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

// Start

.startText {
  margin-top: 120px;
  font-family: "NanumSquareNeo-Variable";
}
.startText > span {
  // font-weight: bold;
  font-size: 35px;
}

//ApiList
.ClickList {
  font-size: 18px;
  color: #000000;

  border-bottom: 2px solid #000000;
}
.noClicklist {
  font-size: 15px;
  color: #727070;
}
.ApiListContent {
  margin-top: 10px;
  padding: 10px;
  background-color: #e7f7fe;
  margin-bottom: 30px;
}

// ApiListDetail
.ApiListDetail {
  height: 100vh;
  overflow-y: scroll;
}

.ApiListDetail::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}

.ApiListDetail::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #c1c1c1; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.scrolApiListDetaillBar::-webkit-scrollbar-track {
  background: #ffffff; /*스크롤바 뒷 배경 색상*/
}
// .listContent > p {
//   font-weight: bold;
// }
.userSetting {
  display: grid;
  align-items: center;
  margin-right: 10px;
  width: 10%;
}

.userSettingSub {
  display: flex;
  justify-content: space-between;
}
.userSettingSubTwo {
  display: flex;
  justify-content: space-around;
}

//Modal
.modalContainer {
  width: 100%;
  padding: 15px;
}

.modalMain > p:nth-child(-n + 5) {
  padding: 10px;
  padding-left: 3px;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 17px;
  border-bottom: 2px solid #000000;
  width: 80px;
}

.modalMain > p:nth-child(6) {
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}

.modalMain > input:focus {
  outline: none;
}

.inputWrapper {
  display: flex;
}

.groupMember {
  border: none;
  width: 80%;
  margin-left: 10px;
  background-color: #e7f7fe;
  border-radius: 50px;
  padding: 10px;
}

.apiUser {
  background-color: #f8f8f8;
  border-radius: 30px;
  margin: 7px;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}

.apiUser::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}

.apiUser::-webkit-scrollbar-track {
  background: #ffffff; /*스크롤바 뒷 배경 색상*/
}

.apiUserList {
  display: flex;
  justify-content: space-between;
}
.apiUserIcon {
  padding: 3%;
  width: 25px;
  height: 25px;
}
.apiUserTitle {
  width: 80%;
  font-size: 13px;
  font-weight: bold;
}
.apiUserTitle > p {
  height: 0.5px;
}
.apiAuthority {
  width: 15%;
  font-weight: bold;
  font-size: 13px;
}

.modalBtn {
  padding: 23px;
  display: flex;
  justify-content: space-between;
}

.copyBtn {
  width: 167px;
  height: 51px;
  left: 642px;
  top: 820px;
  border: none;
  color: #3a00e5;
  font-weight: bold;
  background: #f7f5ff;
  border-radius: 15px;
  cursor: pointer;
}
.copyBtn > span {
  margin-left: 5px;
}

.makeBtn {
  border-radius: 15px;
  border: none;
  background-color: #3a00e5;
  font-weight: bold;
  color: white;
  width: 167px;
  height: 51px;
  left: 642px;
  top: 820px;
  cursor: pointer;
}
