@mixin buttonStyle {
  border: none;
  outline: none;
  background-color: #e6f8fc;
  color: #40adb9;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 100%;
  &:hover {
    opacity: 0.7;
    transition: all 300ms ease-in;
  }
}

.apiDocscontainer {
  display: grid;
  grid-template-columns: 1fr 9fr;
  height: 100vh;
  overflow-x: scroll;
}

.apiDocscontainer::-webkit-scrollbar {
  display: none;
}

.apiDocsMaincontainer {
  padding-bottom: 200px;
  .titleGridContainer {
    display: grid;
    grid-template-columns: 7fr 4fr;
    padding: 50px 30px 50px 90px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(111, 199, 209);
    .titleContainer {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      font-weight: bold;
      margin: 0 40px 0 0;
      .apiDocsTitleText {
        font-size: 2em;
      }
      .infoContainer {
        display: flex;
        .infoValue {
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
  }
  .buttonContainer {
    padding: 0 20px;
    position: relative;
    .createApiButton {
      border: none;
      outline: none;
      background-color: #e6f8fc;
      color: #40adb9;
      padding: 10px 15px;
      border-radius: 15px;
      text-align: center;
      margin: 0 5px;
      font-size: 0.8em;
      &:hover {
        opacity: 0.7;
        transition: all 300ms ease-in;
      }
    }
  }
}

.createApiTitleButtonGroup {
  display: flex;
  justify-content: flex-end;
}

.bodyGridContainer {
  display: grid;
  grid-template-columns: 7fr 4fr;
  margin-top: 30px;
  padding: 0 20px;
}

.tableContainer {
  .apiTable {
    display: flex;
    align-items: flex-end;
    margin: 0 0 50px 50px;
    .apiPlusButton {
      @include buttonStyle();
      width: 30px;
      height: 30px;
      position: relative;
      border-radius: 100%;
      padding: 3px;
      .apiPlusText {
        display: none;
      }
      &:hover {
        .apiPlusText {
          width: 100px;
          height: 50px;
          background-color: #f7f5ff;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -50px;
          right: 20px;
        }
      }
    }
    .plusIcon {
      width: 20px;
      height: 20px;
    }
  }
}

.tabContainer {
  display: flex;
  align-items: center;
  margin: 0 0 50px 90px;
  .tabItem {
    border: none;
    background-color: transparent;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 3rem 0 0;
    padding: 0 3px 5px 3px;
    transition: all 300ms ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    border-bottom: 3px solid #6fc7d1;
    font-weight: bold;
    font-weight: bold;
    transform: scale(1.1);
  }
}

.rightSideContainer {
  width: 100%;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.createApiTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.warningModalCodeBlockContainer {
  margin-top: 20px;
}

.createApiTabContainer::-webkit-scrollbar {
  display: none;
}

.createApiTabContainer {
  display: flex;
  margin: 20px 5px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  .createApiTabItem {
    font-size: 0.8em;
    padding: 7px 10px;
    border: 1px solid rgba(39, 127, 195, 0.8);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
      transition: all 200ms ease-in-out;
    }
  }
  .selectedTabItem {
    transform: scale(1.1);
    background-color: rgba(39, 127, 195, 0.8);
    color: white;
    border-radius: 10px;
    padding: 7px 10px;
    font-weight: bold;
  }
}

.createApiSynchronizeTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 7px 0;
  margin-bottom: 5px;
}

.createApiCloseButton {
  display: flex;
  text-align: end;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.createApiSynchronizeDataTitle {
  font-weight: bold;
  font-size: 1.1em;
}

.createApiSynchronizeData {
  margin: 10px 0;
  .createApiSynchronizeRootText {
    font-size: 0.7em;
  }
  .createApiSynchronizeTextContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    .createApiSynchronizeValueText {
      font-weight: bold;
      word-break: break-all;
    }
    .createApiSynchronizeValueText:hover .createApiSynchronizeCodeBlock {
      width: 200px;
      display: flex;
      font-size: 0.7em;
    }
  }
}

.createApiSynchronizeDataIcon {
  border: 1px solid black;
  border-radius: 100%;
  padding: 3px 5px;
  font-size: 0.7em;
}
.createApiSynchronizeCodeBlock {
  display: none;
}
.createApiCodeBlockContainer {
  width: 100%;
  font-size: 0.7em;
}

.createApiSynchronizeDataContainer {
  max-height: 50vh;
  padding: 0 10px 0 0;
  overflow-y: scroll;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.createApiSynchronizeDataSaveButton {
  @include buttonStyle();
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
}
.createApiTitleModalGroup {
  width: 330px;
  position: relative;
  left: 30%;
}
