table,
.divTable {
  border: 1px solid lightgray;
  width: 90%;
  position: relative;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.25rem 0.7rem;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 40px;
}

td,
.td {
  height: 50px;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: #3a00e5;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.tableInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  border: none;
  resize: none;
  height: auto;
  line-height: 1.5;
}

.commonUri {
  font-size: 20px;
  font-weight: bold;
  padding: 2px 20px 2px 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid #3a00e5;
  margin: 10px 0;
}

.tableInfoInputGroup {
  margin: 2rem 0;
  .tableInfoLabel {
    font-size: 1.3em;
    margin: 1rem 1rem 0 0;
  }
  .tableInfoInput {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.3em;
    margin: 1rem 1rem 0 0;
  }
}

.responseTypeLabel {
  font-size: 1.3em;
}
