table,
.divTable {
  border: 1px solid lightgray;
  width: 90%;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 40px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.5rem;
}

th,
.th {
  padding: 2px 4px;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

td,
.td {
  height: 40px;
  text-align: center;
}

.removeIcon:hover {
  transform: scale(1.2);
  transition: all 300ms ease-in;
  color: tomato;
}

.apiTableDeleteItem {
  border: none;
  box-shadow: none;
  padding: 7px;
}

.apiTableHeaderItem {
  padding: 10px 0;
}

.apiTableBodyItem {
  padding: 0 10px 5px 10px;
}

.tableInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  border: none;
  z-index: 1;
  background-color: transparent;
  padding: 5px;
}

.responseTypeGroup {
  margin: 0 0 30px 0;
  background-color: #53bdc9;
  color: white;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  padding: 7px;
  .responseTypeLabel {
    font-size: 1em;
    font-weight: bold;
  }
  &:hover {
    cursor: pointer;
  }
}

.typeInputContainer {
  display: flex;
  align-items: flex-end;
  margin: 15px 10px 0 0;
  .typeInputLabel {
    font-size: 1em;
    font-weight: bold;
    margin: 0 1rem 0 0;
  }
}

.typeInfoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .infoIcon {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid black;
    padding: 3px;
    width: 15px;
    height: 15px;
    &:hover {
      color: #40adb9;
      border: 1px solid #40adb9;
      transition: all 300ms ease-in-out;
    }
  }
}

.dtoInputGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid black;
  .dtoInput {
    outline: none;
    border: none;
    font-size: 1.1em;
    &::placeholder {
      font-size: 0.7em;
    }
  }
  .dtoCheckIcon {
    color: tomato;
    padding: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}

.tableInfoDtoContainer {
  position: absolute;
  top: 2rem;
  left: 15rem;
  background-color: white;
  width: 200px;
  height: auto;
  overflow-y: scroll;
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 25px -15px rgba(0, 0, 0, 0.72);
  &::-webkit-scrollbar {
    display: none;
  }
  .tableInfoDtoCloseButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tableInfoDtoUseInfoTitle {
      font-size: 0.9em;
    }
    .tableInfoDtoCloseButton {
      border: none;
      outline: none;
      background: transparent;
      &:hover {
        color: tomato;
        transition: all 200ms ease-in;
      }
    }
  }
  .tableInfoDtoPropertiesContainer {
    margin: 0 0 0 10px;
  }
}

.tableInfoDtoUseInfoText {
  font-size: 0.7em;
  padding: 5px;
}

.tableInfoWarningText {
  color: tomato;
  font-size: 0.7em;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.tableInfoUseCurrentDtoButton {
  width: 100%;
  word-break: keep-all;
  border: none;
  outline: none;
  background-color: #e6f8fc;
  color: #40adb9;
  padding: 10px 15px;
  border-radius: 15px;
  text-align: center;
  margin: 20px 0;
  font-size: 0.8em;
  &:hover {
    opacity: 0.7;
    transition: all 300ms ease-in;
  }
}

.apiTableCheckbox {
  width: 15px;
  height: 15px;
  accent-color: #277fc3;
  margin: 0;
}

.tableNameInputContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .tableInfoNameGroup {
    .tableInfoLabel {
      margin: 0.5rem 0 0.5rem 0;
      padding: 5px 0;
      font-size: 1em;
      font-weight: bold;
    }
    .tableInfoInput {
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      font-size: 1.1em;
      margin: 1rem 1rem 0 0;
      width: 100%;
      &::placeholder {
        font-size: 0.7em;
      }
    }
  }
}

.tableInfoInputGroup {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .tableInfoLabel {
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    font-weight: bold;
  }
  .tableInfoInput {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.1em;
    margin: 1rem 1rem 0 0;
    width: 100%;
    &::placeholder {
      font-size: 0.7em;
    }
  }
}

.tableInfoTitleContainer {
  display: grid;
  grid-template-columns: 5fr 3fr;
  margin: 0 0 30px 0;
  .tableInfoNameDtoNameGroup {
    position: relative;
    margin: 0 20px 0 0;
  }
}
.tableInfoLabel {
  display: flex;
  align-items: flex-end;
  font-size: 1em;
  font-weight: bold;
}
.tableInfoTypeLabelText {
  font-size: 1em;
  font-weight: bold;
}
.typeInputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.typeInputContainer1 {
  align-items: center;
  margin: 0 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .typeInputLabel1 {
    font-size: 1em;
    font-weight: bold;
  }
  .tableInputTypeGroup {
    display: flex;
  }
}
