.docPaper2Wrapper {
	width: 100%;
	.rowWrapper {
		display: flex;
		justify-content: space-between;
		.titleWrapper {
			display: flex;
		}
	}
}


.titleContentWrapper {
	display: flex;
	justify-content: space-between;
	.iconTitleWrppaer {
		display: flex;
		justify-content: space-between;
	}
}