.apiDocContainer {
  height: 100vh;
  width: 100%;
  padding-bottom: 10vh;
  .circleUpIcon {
    position: fixed;
    margin-left: 90vw;
    margin-top: 90vh;
    color: rgb(210, 207, 207);
    cursor: pointer;
  }
  .circleUpIcon:hover {
    color: #78cbf7;
  }
  .sidebarBox {
    position: fixed;
    .sidebarButton {
      padding: 1vw;
      cursor: pointer;
    }
  }
  .pdfDocArea {
    margin-left: 3vw;
    .docTitleWrapper {
      display: flex;
      justify-content: center;
      .docTitle {
        margin-top: 15vh;
        margin-bottom: 12vh;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .serverInformTitle {
      margin-left: 7vw;
      margin-bottom: 5vh;
      font-size: 25px;
      font-weight: bold;
    }
    .docTitleWrapper {
      display: flex;
      justify-content: center;
      .docTitle {
        align-items: center;
      }
    }
  }
  .pdfButton {
    margin-left: 90vw;
    padding-top: 2vh;
  }
  .pdfButton:hover {
    cursor: pointer;
  }
}








