.apiDocContainer {
  background-color: #F7F5FF;
  height: 100vh;
  width: 100%;
  padding-bottom: 10vh;
  .sidebarDocWrapper {
    background-color: #F7F5FF;
    .sidebarBox {
      position: fixed;
      .sidebarButton {
        padding: 20px;
      }
    }
    .docBox {
      margin: auto;
      background-color: #F7F5FF;
      width: 595px;
      padding-top: 10vh;
      .title {
        margin: auto;
        font-size: 40px;
      }
      .doc1 {
        padding: 0px;
        width: 595px;
        background-color: white;
        word-break: break-all;
        .docTitleWrapper {
          display: flex;
          justify-content: center;
          .docTitle {
            align-items: center;
          }
        }
      }
      .doc2 {
        display: flex;
        justify-content: center;
        padding: 0px;
        width: 595px;
        background-color: white;
        word-break: break-all;
        .docTitleWrapper {
          display: flex;
          justify-content: center;
          .docTitle {
            align-items: center;
          }
        }
      }
    }
  }
}








