.docPaper2Wrapper {
	width: 90%;
	margin-top: 30px;
	.detailInformTitle {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: bold;
	}
	.highLightedSubtitle {
		color: rgb(197, 33, 33);
		border-radius: 20px;
		font-size: 20px;
		margin-bottom: 15px;
	}
	.subtitle {
		background-color: white;
		font-size: 20px;
		margin-bottom: 15px;
	}
	.titleContentWrapper {
		display: flex;
		margin-bottom: 3%;
		font-size: 20px;
		.iconTitleWrapper {
			display: flex;
			font-size: 20px;
		}
		.content {
			margin-left: 10px;
		}
	}
	.circleIcon {
		font-size: 8px;
		margin-top: 8px;
	}
	.iconTitleWrapper {
		display: flex;
		font-size: 20px;
	}
	.highLightedTitleContentWrapper {
		display: flex;
		margin-bottom: 3%;
		color: rgb(197, 33, 33);
		border-radius: 20px;
		font-size: 20px;
	}		
	.contentBox {
		width: 90%;
		margin-left: 10%;
		margin-top: 3%;
		margin-bottom: 3%;
		border-radius: 10px;
		background-color: rgb(245, 245, 245);
		font-size: 15px;
		overflow: auto;
		white-space: nowrap;
		.titleContentWrapper2 {
			display: flex;
		}
	}
	.contentBox2 {
		width: 80%;
		margin-left: 15%;
		margin-top: 3%;
		margin-bottom: 3%;
		border-radius: 10px;
		background-color: rgb(245, 245, 245);
		font-size: 15px;
		overflow: auto;
		white-space: nowrap;
		.titleContentWrapper2 {
			display: flex;
		}
	}
	.contentBox::-webkit-scrollbar{
		display: none;
	}
	.contentBox2::-webkit-scrollbar{
		display: none;
	}
}
