@import "../welcome/Welcome.scss";

.closeButtonWrapper {
  padding: 10px;
}

.houseIconWrapper {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.houseIconWrapper:hover {
  color: rgb(197, 33, 33);
}

.sidebarUl {
  .sidebarLi {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 50px;
  }
  .sidebarLi:hover {
    color: rgb(197, 33, 33);
  }
  .sidebarLi2 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
  }
}
