.dtoInputModal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
}

.dtoModalContainer {
  width: 23rem;
  min-height: 14rem;
  height: auto;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-100%, -50%);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 25px -12px rgba(0, 0, 0, 0.92);
}

.dtoInputModalCloseButton {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}

.dtoModalTitleContainer {
  margin: 1rem 0 1rem 30px;
}

.dtoModalInputGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #dadada;
  padding: 0 5px 0 0;
  #dtoModalDtoName {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5em;
  }
  .dtoCheckIcon {
    color: tomato;
    padding: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}

.dtoModalInputGroup {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
  .dtoModalLabel {
    margin: 0 20px 0 0;
  }
}

.dtoModalTableContainer {
  display: flex;
  align-items: flex-end;
}

.tableInfoDtoContainer {
  position: absolute;
  top: 3rem;
  left: 0.5rem;
  background-color: white;
  z-index: 5;
  width: auto;
  height: auto;
  padding: 20px 20px;
  // margin: 10px 10px 10px 200px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px -15px rgba(0, 0, 0, 0.92);
  .tableInfoDtoPropertiesContainer {
    margin: 0 0 0 20px;
  }
}
