.dtoInputModal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
}

.dtoModalContainer {
  width: 23rem;
  min-height: 14rem;
  max-height: 20rem;
  overflow-y: scroll;
  height: auto;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-100%, -50%);
  border-radius: 1rem;
  padding: 1rem 0 0 1rem;
  box-shadow: 2px 2px 25px -12px rgba(0, 0, 0, 0.92);
  &::-webkit-scrollbar {
    display: none;
  }
}

.dtoInputModalCloseButton {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}

.dtoModalTitleContainer {
  margin: 1rem 0 1rem 30px;
}

.dtoModalInputGroup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5px 0 0;
  #dtoModalDtoName {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
  }
  .dtoCheckIcon {
    color: tomato;
    padding: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}

.dtoModalInputGroup {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
  width: 80%;
  border-bottom: 1px solid #dadada;
  padding: 0 0 5px 0;
  .dtoModalLabel {
    margin: 0 20px 0 0;
  }
}

.dtoModalTableContainer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  .apiPlusButton {
    border-radius: 100%;
  }
}

.dtoModalDtoContainer {
  position: absolute;
  top: 4rem;
  left: 10rem;
  background-color: white;
  z-index: 5;
  width: 200px;
  height: 150px;
  overflow-y: scroll;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px -15px rgba(0, 0, 0, 0.92);
  &::-webkit-scrollbar {
    display: none;
  }
  .dtoModalDtoPropertiesContainer {
    margin: 0 0 0 20px;
    align-items: baseline;
  }
}
.dtoModalDtoUseInfoTitle {
  font-size: 0.9em;
}
.dtoModalDtoUseInfoText {
  font-size: 0.7em;
  padding: 5px;
}
.dtoModalUseCurrentDtoButton {
  width: 100%;
  word-break: keep-all;
  border: none;
  outline: none;
  background-color: #e6f8fc;
  color: #40adb9;
  padding: 10px 15px;
  border-radius: 15px;
  text-align: center;
  margin: 20px 0;
  font-size: 0.8em;
  &:hover {
    opacity: 0.7;
    transition: all 300ms ease-in;
  }
}

.dtoModalCloseGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dtoModalDtoCloseButton {
    border: none;
    outline: none;
    background: transparent;
    &:hover {
      color: tomato;
      transition: all 200ms ease-in;
    }
  }
}
