.selectBox {
  width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.itemList {
  list-style-type: none;
  display: inline-block;
  right: 0;
  padding: 0;
  width: 100%;
  margin: 0;
  transition: 0.3s ease-in;
  background-color: white;
  height: 200px;
  overflow-y: scroll;
  .item {
    transition: 0.1s;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    &:hover {
      background-color: #6fc7d1;
      transition: 300ms ease-in-out;
      color: white;
    }
  }
}

.itemList::-webkit-scrollbar {
  display: none;
}

.selectBoxContainer {
  box-shadow: 0px 4px 26px -10px rgba(0, 0, 0, 0.6);
  margin: 10px 0 0 0;
  padding: 0;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.selectedItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadada;
  padding: 0 2px 5px 2px;
  width: 100px;
}

.selectTypeIcon {
  width: 12px;
  height: 12px;
  &:hover {
    opacity: 0.8;
    color: #6fc7d1;
    transition: all 300ms ease-in;
  }
}
