@mixin button {
  border: none;
  outline: none;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  &:hover {
    opacity: 0.7;
    transition: all 300ms ease-in;
  }
}

.sidebarModalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.modalInnerContainer {
  width: 30rem;
  height: 530px;
  overflow-y: scroll;
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 0 2rem;
  box-shadow: 0px 4px 26px -10px rgba(0, 0, 0, 0.81);
}

.modalInnerContainer::-webkit-scrollbar {
  display: none;
}

.modalTitleGroup {
  margin-bottom: 4rem;
}

.modalTitleText {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1.5rem 0;
  position: absolute;
  z-index: 1;
}

.controllerInfoItem {
  margin: 1rem 0;
}

.controllerLabel {
  font-weight: bold;
  font-size: 0.9em;
  margin-right: 0.5rem;
}

.controllerInput1 {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: white;
  width: 100%;
  margin-top: 1rem;
  font-size: 1em;
}

.apiInfoGroup {
  margin-top: 20px;
}

.apiTitleGroup {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 0;
}

.apiTitleText {
  font-size: 1em;
  font-weight: bold;
  margin: 0 1rem 0 0;
}

.apiPlusButton {
  @include button();
  background-color: rgb(207, 244, 255);
  border-radius: 100%;
  font-size: 0.8em;
  width: 23px;
  height: 23px;
  padding: 0;
}

.controllerPlusIcon {
  font-size: 1em;
}

.controllerInfoText {
  color: tomato;
  font-size: 0.7em;
  padding-left: 0.5rem;
  margin: 5px 0;
}

.modalCloseButton {
  width: 100%;
  height: 100%;
}

.modalCotrollerAddButton {
  @include button();
  background-color: rgb(207, 244, 255);
  border-radius: 5rem;
  padding: 0.5rem 0;
  font-size: 1em;
  width: 100%;
}

.controllerModalCloseButton {
  @include button();
  background-color: rgb(207, 244, 255);
  border-radius: 5rem;
  padding: 0.5rem 0;
  font-size: 1em;
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.modalTableContainer {
  .modalTable {
    width: 90%;
    .tableHeadText {
      font-size: 1em;
    }
  }
}

.modalTableInput {
  font-size: 1em;
  outline: none;
  border: none;
  padding: 2px;
  width: 100%;
  background-color: transparent;
}
