@mixin buttonStyle {
  border: none;
  outline: none;
  background-color: red;
  color: #3a00e5;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 100%;
  &:hover {
    opacity: 0.7;
    transition: all 300ms ease-in;
  }
}
.synchronizeModalTitle {
  font-family: "twayair";
}
.synchronizeModalList {
  height: 200px;
  width: 90%;
  padding: 10px;
  overflow-y: scroll;
}

.synchronizeModalListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .synchronizeModalControllerName {
    font-weight: bold;
    word-break: break-all;
    margin: 0 10px 0 0;
  }
  .synchronizeModalButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .synchronizeModalIcon {
      margin: 0 5px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: all 300ms ease-in;
      }
    }
  }
}

.synchronizeModalButtonGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}
.synchronizeModalButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 10px;
  width: fit-content;
  font-size: 0.6em;
  &:hover {
    opacity: 0.7;
    transition: all 300ms ease-in;
  }
}
.green {
  color: #6fc7d1;
  border: 1px solid rgb(111, 199, 209);
}

.blue {
  color: #277fc3;
  border: 1px solid rgb(39, 127, 195);
}

.synchronizeModalList::-webkit-scrollbar {
  width: 5px;
}

.synchronizeModalList::-webkit-scrollbar-thumb {
  background-color: #277fc3;
  border-radius: 10px;
}

.synchronizeModalList::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(39, 127, 195, 0.5);
}

.synchronizeModalFileInputLabel {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #277fc3;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: small;
  padding: 10px;
  margin: 10px 0;
}
.synchronizeModalFileInput {
  display: none;
}
.synchronizeModalFile {
  border-bottom: 1px solid black;
  padding: 5px;
  margin-top: 20px;
  font-size: 0.8em;
}

.synchronizeModalFileSyncButton {
  background-color: #277fc3;
  color: white;
  width: 100%;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.synchronizeModalWarningModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
