// Main
.testContainer {
  display: flex;
  justify-content: space-between;
}
.testSide {
  width: 20%;
  height: 91vh;
  background-color: #e7f7fe;
}
.testMain {
  width: 80%;
}
.testInfo {
  width: 100%;
  margin-top: 7px;
}
.testSetting {
  width: 100%;
  height: 200px;
}
.testBodyInfo {
  width: 50%;
}
.headerList {
  margin-top: 15px;
  margin-left: 13px;
  margin-right: 20px;
  padding: 5px;
  width: 100%;
  display: flex;
  background-color: #eaeaea;
}
.headerListBody {
  margin-top: 15px;
  margin-left: 13px;
  margin-right: 20px;
  padding: 5px;
  width: 100%;
  display: flex;
}
.apiHeaderFirstTitle {
  display: flex;
}
.apiKeyHeaderTitle {
  width: 30%;
}
.apiKeyHeaderTitleValue {
  width: 50%;
}
.apiKeyHeaderTitleCheck {
  width: 20%;
}
.apiHeaderListSpan {
  text-align: start;
  font-size: 16px;
  font-weight: bold;
  color: #5d5d5d;
  padding: 5px 15px 5px 7px;
}
.apiHeaderListBodyPtag {
  text-align: start;
  font-size: 9px;
  font-weight: bold;
  color: #5d5d5d;
}
.headerListTitleisHeader {
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 20%;
}
.apiHeaderListPtag {
  text-align: start;
  font-size: 13px;
  border: 1px solid #eaeaea;
  font-weight: bold;
  padding: 10px 10px;
}

.apiKeyHeaderTitleValueSubmit {
  width: 50%;
}
.apiHeaderListPtagInput {
  text-align: start;
  font-size: 13px;
  border: 1px solid #eaeaea;
  padding: 6px 10px;
  margin-left: 5px;
}
.apiHeaderListPtagInput > input:focus {
  outline: none;
}
.formApiHeader {
  display: flex;
  width: 70%;
}
.apiHeaderListInputTag {
  border: none;
  width: 80%;
  padding: 5px 15px 2px 7px;
}

.apiHeaderListButtonTag {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border: none;
  background-color: #6fc7d1;
  margin-left: 5px;
  padding: 10px 10px;
  color: #fff;
  cursor: pointer;
}

.testListNum {
  font-weight: bold;
  font-size: 15px;
  padding: 3px 13px 5px 13px;
  cursor: pointer;
  color: #277fc3;
  background-color: #c4deff;
  border-radius: 5%;
}
.testListNumsmall {
  font-size: 13px;
  padding: 10px 20px 15px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #b2ccff;
}
.objectResponseResult {
  display: flex;
}
.titleResponseResult {
  padding-left: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
.errorResponseResult {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #353535;
}
// ApiSide
.apiSide {
  display: flex;
  padding: 5px;
}
.apiSideAddress {
  font-size: 13px;
  margin: 0px;
}
.sideText {
  width: 25%;
  font-weight: bold;
  font-size: 12px;
  height: 5px;
}

// ApiInput
.selectBoxTESTApi {
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.apiInputContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.apiInputContainer > input:focus {
  outline: none;
}

.apiChoice {
  width: 10%;
  min-width: 110px;
  margin: 1%;
}
.apiTestBtn {
  width: 85px;
  height: 45px;
  margin-left: 7px;
  border-radius: 10px;
  border: none;
  background-color: #6fc7d1;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
// ApiHeader
.apiHeaderContainer {
  height: 250px;
  padding: 5px;
}

.headerClickList {
  margin-right: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
  cursor: pointer;
}
.headerNoClicklist {
  margin-right: 5px;
  font-size: 11px;
  color: #727070;
  cursor: pointer;
}

.bodyInputTitle {
  font-weight: bold;
  color: #767273;
  font-size: 13px;
  margin: 13px 0px 18px 5px;
}
.headerListContent {
  margin-left: 5px;
  text-align: left;
}
.headerListContent > p {
  font-weight: 400;
  margin-left: 5px;
  margin: 13px 0px 1px 5px;
}
.headerListContent > p > input {
  width: 300px;
  border: none;
  font-size: 12px;
  padding: 1px;
  border-bottom: 1px solid black;
}
.headerListContent > p > input:focus {
  outline: none;
}
.headerListContent > input:focus {
  outline: none;
}

//ApiBody
.apiBodyContainer {
  margin-top: 10px;
  margin-left: 5px;
}
.apiBodyContainer > textarea:focus {
  outline: none;
}

.bodyArea {
  width: 91%;
  height: 230px;
  border: 3px solid #e7f7fe;
  resize: none;
  padding: 20px;
}

.requestBodyValueInput {
  background-color: red;
  margin-left: 5px;
  border: none;
}
.requestBodyValueSpan > input:focus {
  outline: none;
}

// ApiResponse
.apiHeaderMainTitle {
  margin: 10px;
  padding: 10px 0px 10px 10px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #353535;
  border-bottom: 3px solid #eaeaea;
}
.apiResponseContainer {
  padding: 5px;
}

.apiResponseContainer > span {
  padding-right: 5px;
  cursor: pointer;
}
.apiResponseResult {
  margin-top: 5px;
  background-color: #eaeaea;
  overflow-y: scroll;
  padding: 0px 10px;
  margin: 10px 25px;
}
.resultResponseHeaderContent {
  padding: 0px 10px;
  font-weight: bold;
  font-size: 15px;
}
.centercalcu {
  padding: 10px 0px;
}
.apiResponseResult::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}

.apiResponseResult::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #c1c1c1; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.apiResponseResult::-webkit-scrollbar-track {
  background: #ffffff; /*스크롤바 뒷 배경 색상*/
}
.apiResponseResultCommonState {
  text-align: end;
  display: flex;
  justify-content: end;
}
.apiResponseResultCommonState > p {
  font-size: 15px;
  padding: 5px 5px;
  font-weight: bold;
  background-color: #faf4c0;
  border-radius: 10px;
}
.apiResponseResultStatus {
  font-size: 12px;
  font-weight: bold;
}
.apiResponseResultMessage {
  font-size: 12px;
  font-weight: bold;
}

.apiResponseResult > div {
  padding: 25px;
  padding-top: 10px;
}

.resultResponseBody {
  margin-left: 25px;
  color: #c56d6d;
}
.resultResponseBodySub {
  color: #4880be;
}
.resultResponseBodySubNum {
  color: green;
}
.resultResponseContainer {
  padding: 2px;
}
.resltResponseHeaderContainer {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  // background-color: #3a00e5;
}
.resultResponseTitleContainer {
  width: 150px;
  margin-bottom: 23px;
}

// ApiSide
.sideMenuList {
  padding: 0px 7px 0px 7px;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  justify-content: space-between;
}

.titleSideMenu {
  font-weight: bold;
}

.clearSideMenu {
  cursor: pointer;
}

.sideContollerName {
  padding: 10px 5px 3px 5px;
  border-bottom: 2px solid #000000;
  width: 80px;
  color: #000000;
}

.apiSideUriAddress {
  padding: 10px;
}

.requestInfosetting {
  display: flex;
}
.requestInfoHeaderSetting {
  height: 250px;
  width: 50%;
}
.requestInfoBodySetting {
  width: 50%;
}
.bodyTextAreaDiv {
  padding-right: 20px;
}
.bodyTextAreaDiv > textarea:focus {
  outline: none;
}
.bodyTextArea {
  width: 100%;
  height: 150px;
  border: none;
  background-color: #eaeaea;
  resize: none;
  padding: 30px;
}
.bodyTextArea::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
}

.bodyTextArea::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #c1c1c1; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.bodyTextArea::-webkit-scrollbar-track {
  background: #eaeaea; /*스크롤바 뒷 배경 색상*/
}
