.dotBlack {
	width: 10px;
	height: 10px;
	border: 1px solid gray;
	border-radius: 999px;
	background-color: gray;
	transition-duration: 1000;
	transition: background-color 0.5s;
}

.dotTransparent {
	width: 10px;
	height: 10px;
	border: 1px solid gray;
	border-radius: 999px;
	background-color: transparent;
	transition-duration: 1000;
	transition: background-color 0.5s;
}

.dotsContainer {
	position: fixed;
	top: 50vh;
	right: 50px;
}

.dotsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 20px;
	height: 100px;
}