@font-face {
  font-family: "CarterOne";
  src: url("../../../fonts/CarterOne-Regular.woff") format("woff");
}

@font-face {
  font-family: "twayair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin titleStyle {
  font-family: "CarterOne";
  background: linear-gradient(to right, #8495f1 40%, #48bcee, #3af6eb);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

@mixin section {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin sectionDetail {
  .introduction {
    margin-left: 200px;
    padding-top: 40vh;
  }
  .title {
    margin-bottom: 50px;
    font-family: "twayair";
    color: white;
    font-size: 30px;
  }
  .subTitle {
    font-family: "twayair";
    font-size: 20px;
    opacity: 0.7;
  }
}

body {
  margin: 0;
}

.section1 {
  height: 120vh;
  width: 100vw;
  background-image: url("../../assets/day_cloudy_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    @include titleStyle();
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 150px;
    font-size: 100px;
    opacity: 0.7;
  }
  .subTitleWrapper {
    text-align: center;
    font-family: "CarterOne";
    font-size: 30px;
    opacity: 0.7;
  }
  .startButtonWrapper {
    margin-top: 100px;
    text-align: center;
  }
  .startButton {
    @include titleStyle();
    display: inline-block;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px gray;
    font-weight: bold;
  }
}

.bridge {
  height: 40vh;
  width: 100vw;
}

.section2 {
  height: 120vh;
  width: 100vw;
  background-image: url("../../assets/sunset_cloudy_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .introduction {
    margin-left: 200px;
    padding-top: 40vh;
  }
  .title {
    margin-bottom: 50px;
    font-family: "twayair";
    color: white;
    font-size: 30px;
  }
  .subTitle {
    font-family: "twayair";
    font-size: 20px;
    opacity: 0.7;
  }
}

.section3 {
  height: 120vh;
  width: 100vw;
  background-image: url("../../assets/night_cloudy_sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

// 화면에서 스크롤바 안 보이게
.outer::-webkit-scrollbar {
  display: none;
}

.section1 {
  @include section();
  background-image: url("../../assets/day_cloudy_sky.jpg");
  .title {
    @include titleStyle();
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 150px;
    font-size: 100px;
    opacity: 0.7;
  }
  .subTitleWrapper {
    text-align: center;
    font-family: "CarterOne";
    font-size: 30px;
    opacity: 0.7;
  }
  .startButtonWrapper {
    margin-top: 100px;
    text-align: center;
  }
  .startButton {
    @include titleStyle();
    font-family: "twayair";
    display: inline-block;
    padding: 10px;
    width: 200px;
    height: 3vh;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px gray;
    font-weight: bold;
  }
}

.section2 {
  @include section();
  @include sectionDetail();
  background-image: url("../../assets/sunset_cloudy_sky.jpg");
}

.section3 {
  @include section();
  @include sectionDetail();
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/night_cloudy_sky.jpg");
  .subTitle {
    color: white;
  }
}

.divider {
  width: 100vw;
  height: 5px;
  background-color: gray;
}
